{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "airbnb",
      "airbnb-typescript"
    ],
    "rules": { 
      "no-console": 0,
      "react/react-in-jsx-scope": "off"
    },
    "parserOptions": {
      "project": "./tsconfig.json"
    }
}